@font-face {
  font-family: "safir";
  src: url("fonts/SafirScriptPersonalUseOnly-660q.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/desert.png");
  background-position: center;
  /* background-repeat: no-repeat; */
  font-family: "safir", Arial, Helvetica, sans-serif;
  gap: 1rem;
}

canvas {
  background-color: black;
  /* width: 640px; */
}

h1 {
  letter-spacing: 0.2rem;
  text-shadow: 4px 2px 2px #00000080;
  font-size: 2rem;
  color: rgb(179, 13, 13);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  canvas {
    width: 100vw;
  }
}
